<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../bootstrap.min.css">
  <script src="../angular.min.js"></script>
  <script src="app.js"></script>
  <title>Module 2 Solution</title>
</head>
<body>
  <div ng-controller="ToBuyController as toBuy" class="container">
    <h3>To Buy:</h3>
    <ul>
      <li ng-repeat="item in toBuy.items">
        Buy {{ item.quantity }} of {{ item.name }}
        <button ng-click="toBuy.buyItem($index)" class="btn btn-default">Bought</button>
      </li>
    </ul>
    <div ng-show="toBuy.items.length === 0">Everything is bought!</div>
  </div>
  <div ng-controller="AlreadyBoughtController as bought" class="container">
    <h3>Already Bought:</h3>
    <ul>
      <li ng-repeat="item in bought.items">
        Bought {{ item.quantity }} of {{ item.name }}
      </li>
    </ul>
    <div ng-show="bought.items.length === 0">Nothing bought yet.</div>
  </div>
</body>
</html>
